<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
  <body>
    <!-- Begin page content -->
    <main role="main" class="container">

        <style>
   .b1 {
    background: LightSeaGreen;
    color: black;
    font-size: 17pt;
   }

  </style>

    <div>404 not found error</div>
        <img src="/static/404.png"
         width="884" height="594">
    <br>
    <button class="b1" onclick="location.href='/';">На главную</button>
    </main>
  </body>
</html>
