{% extends "base1.html" %}

{% block content %}
    <div style="color:white">
	<h1 class="text-light">Ваша статья</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title }}<br>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content }}<br>
            {% for error in form.content.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
	
		<p>
			<div class="file-upload-wrapper">
				<input type="file" name="file" id="input-file-now" class="file-upload" />
			</div>
		</p>
		
        <p><button type="button submit" class="btn btn-primary">Добавить</button></p>
    </form>
	</div>

{% endblock %}
